<div class="container mt-3">
    <div class="card">
        <div class="d-flex justify-content-between p-3">
            <div class="image">
                <img src="../../assets/icon_75.png" width="75" height="75">
            </div>
            <div class="quiz-header">
                <h4 style="font-family: cursive">Task Quiz</h4>
                <span style="font-style: italic;">Welcome {{name}}</span>
            </div>
        </div>
        <ng-container *ngIf="!isQuizCompleted">
            <div class="d-flex justify-content-around py-3">
                <div class="score">
                    <h5>{{points}} points</h5>
                </div>
                <div class="question-num">
                    <span style="font-style: italic;">Question {{questionsCounter}} of
                        {{numberOfQuestionToDisplay}}</span>
                </div>
                <div class="timer">
                    <h5>
                        {{timeCounter}} sec
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-stopwatch" viewBox="0 0 16 16">
                            <path d="M8.5 5.6a.5.5 0 1 0-1 0v2.9h-3a.5.5 0 0 0 0 1H8a.5.5 0 0 0 .5-.5V5.6z" />
                            <path
                                d="M6.5 1A.5.5 0 0 1 7 .5h2a.5.5 0 0 1 0 1v.57c1.36.196 2.594.78 3.584 1.64a.715.715 0 0 1 .012-.013l.354-.354-.354-.353a.5.5 0 0 1 .707-.708l1.414 1.415a.5.5 0 1 1-.707.707l-.353-.354-.354.354a.512.512 0 0 1-.013.012A7 7 0 1 1 7 2.071V1.5a.5.5 0 0 1-.5-.5zM8 3a6 6 0 1 0 .001 12A6 6 0 0 0 8 3z" />
                        </svg>
                    </h5>
                </div>
            </div>
            <div class="progress mb-3">
                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar"
                    [ngStyle]="{'width':progress+'%'}" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="question">
                <div class="card">
                    <h3>{{currentQuestion.question}}</h3>
                </div>
            </div>
            <div class="options">
                <ol *ngFor="let answer of currentQuestion.answerslist">
                    <li (click)="checkAncswer(answer)">
                        <div appChangeAnswerColor [isAnswerCorrect]="changeColorOfTheClickedAnswerAccordingly(answer)"
                            class="card">
                            {{answer}}
                        </div>
                    </li>
                </ol>
            </div>
            <div class="d-flex justify-content-between">

            </div>
        </ng-container>

        <ng-container *ngIf="isQuizCompleted">
            <div class="row d-flex justify-content-between">
                <img style="width: 50%;" class="img-fluid col-sm-12 mx-auto" src="../../assets/finish_quiz.png" alt="">
                <div class="result text-center col-md-6 col-sm-12">
                    <h3>Congratulations !!!<br> You Completed the Quiz.<br> Please see results below:</h3>
                    <p>Total Questions Displayed: {{numberOfQuestionToDisplay}}</p>
                    <p>Total Correct Answers: {{correctAnswers}} </p>
                    <p>Your Score: {{points}}</p>

                    <button class="btn btn-primary btn-lg" routerLink="/question" (click)="resetQuiz()">Play Again</button>


                </div>


            </div>
        </ng-container>

    </div>
</div>